.social {
 /*  float: left;   图标部分浮动与h1同行   */    
        /*social中每一个图标都离上边线13px*/
	border:2px red solid;
	width:300px;
	height:190px;
	background-color:yellow;
	opacity:0.3;
}
	
}
.social ul li {
    display: inline-block;
    margin: 0 3px;
}
.facebook{
    background: url("images/social.png") no-repeat 128px; 
    width: 200px;                  /*剪裁图片*/
    height: 200px;
    display: block;
	border:1px red solid;
}



